# Global ownership
* @isolomatov-gd

# Docs site
docs/web/** @omaiesh

# Granular code ownership
/instructions/ @YevheniiaLementova
/docs/ @YevheniiaLementova
/plans/ @YevheniiaLementova
/*.md @YevheniiaLementova

.github/ @omaiesh
/tools @omaiesh
/src/ims-mcp-server @omaiesh
/deployment @omaiesh
/src/helm-charts @omaiesh
