# Global ownership
* @isolomatov-gd

# Docs site
docs/web/** @omaiesh

# Granular code ownership
/instructions/ @ElizaVetaFomka @YevheniiaLementova
/docs/ @ElizaVetaFomka @YevheniiaLementova
/plans/ @ElizaVetaFomka @YevheniiaLementova
/*.md @ElizaVetaFomka @YevheniiaLementova

.github/ @kkhristenko51 @omaiesh
/tools @kkhristenko51 @omaiesh
/src/ims-mcp-server @kkhristenko51 @omaiesh
/deployment @kkhristenko51 @omaiesh
/helm-charts @kkhristenko51 @omaiesh
